<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:arg name="initial_positions_file" default=""/>
  <xacro:arg name="controllers_file" default=""/>

  <xacro:include filename="$(find moveit_resources_panda_description)/urdf/panda.urdf.xacro"/>
  <xacro:include filename="panda_gazebo.ros2_control.xacro"/>

  <link name="world"/>
  <joint name="world_to_panda" type="fixed">
    <parent link="world"/>
    <child link="panda_link0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:panda_gazebo_ros2_control
    initial_positions_file="$(arg initial_positions_file)"
    controllers_file="$(arg controllers_file)"/>

  <!-- Higher friction on fingers for physics grasp -->
  <gazebo reference="panda_leftfinger">
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
  </gazebo>
  <gazebo reference="panda_rightfinger">
    <mu1>1.5</mu1>
    <mu2>1.5</mu2>
  </gazebo>
</robot>
